workspace "one"
workspace "two"

input {
  keyboard {
    repeat-delay 200
    xkb {
      layout "de"
      options "caps:escape" // Make caps act like escape
    }
  }
}

binds {
  Mod+B { spawn "zen-browser"; }
  Mod+G { spawn "flatpak" "run" "eu.betterbird.Betterbird"; }
  Mod+K { spawn "flatpak" "run" "org.keepassxc.KeePassXC"; }

  // German keyboard can't type Mod+Slash
  Mod+Shift+7 { show-hotkey-overlay; }

  Mod+Ctrl+V { spawn "dms" "ipc" "call" "clipboard" "toggle"; }

  Mod+Shift+I { spawn "dms" "ipc" "call" "settings" "open"; }

  Ctrl+Alt+Delete { spawn "dms" "ipc" "call" "powermenu" "toggle"; }

  Mod+Plus { set-column-width "+10%"; }

  Mod+Shift+Plus { set-window-height "+10%"; }
}

spawn-at-startup "flatpak" "run" "eu.betterbird.Betterbird"
spawn-at-startup "flatpak" "run" "org.keepassxc.KeePassXC"
spawn-at-startup "flatpak" "run" "io.github.martchus.syncthingtray" "--wait"
spawn-at-startup "flatpak" "run" "com.synology.SynologyDrive"

window-rule {
  match app-id="betterbird"
  open-on-workspace "two"

  open-maximized true
}

window-rule {
  match app-id="^foot$"

  background-effect {
    blur true
  }
}

window-rule {
  match app-id="^kitty$"

  background-effect {
    blur true
  }
}
