[Unit]
Description=Installs custom-zirconium specific dotfiles
ConditionPathExists=!%h/.config/niri/local.kdl

[Service]
Environment="DOTFILE_PATH=/usr/share/custom-zirconium/cz-dotfiles"
ExecStart=sh -c 'ln -s "$DOTFILE_PATH/.config/niri/local.kdl" "%h/.config/niri/local.kdl"'
ExecStart=touch %h/.config/niri/user-local.kdl
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=graphical-session-pre.target
